h1{
   
    text-align: center;
    margin: auto;
}

#title{
    max-width: fit-content;
    display: block;
    text-align: center;
}
body{
    display: -ms-inline-flexbox;
    position: relative ;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    background-color: rgb(24, 179, 81);
    align-items: center;
}
#author{
    display: block;
}